.curt {
    position: fixed;
    padding: 50px;
    min-width: 30%;
    height: 100vh;
    background: white;
    right: 0;
    top: 0;
    z-index: 999;
    text-transform: uppercase;
    overflow-y: scroll;
}
.curt::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.close {
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 20px;
    font-weight: bold;
    cursor: pointer;
}
.curt__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.curt h3 {
    font-size: 30px;
    text-align: center;
}
.curt button {
    background: var(--back-color);
    width: 100%;
    padding: 10px 0;
    transition: background .7s;
    color: white;
}
.curt button:hover {
    background: var(--btn-hover);
}
.ofer__block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ofer__block form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ofer__block form input {
    padding: 5px 10px;
    height: 40px;
    border-bottom: 1px solid var(--back-color);
    font-size: 20px;
}
.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.checkbox input {
    display: none;
}
.checkbox label {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--back-color);
    font-size: 13px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: background 1s, opacity 1s;
}
.checkbox label:hover {
    background: var(--back-color);
}
.checkbox input:checked + label {
    background: var(--btn-hover);
    opacity: .8;
}
.ofer__block p {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .curt {
        padding: 50px 20px;
    }
}